/* Cleanizr v.1.2.2 - custom.css
 *
 * @note : Any enhancement should be done in this file
 * @author : you
 * @author URL : your url
 *
 */

table tbody tr a,
.pointer {
  cursor: pointer;
}

.widget p a {
  cursor: help;
}

.monospace {
  font-family: monospace;
}

.nocaps {
  text-transform: none !important;
}

#sidebar #nav > ul > li > a {
  cursor: pointer;
}

button.control_centering {
  margin-bottom: 10px;
}

/* Console Styles */
.row-fluid .console {
  margin-bottom: -1px;
  border-bottom: none;
  box-shadow: none;
}

.console-inner {
  height: 65vh;
  overflow-y: scroll;
  font-family: monospace;
  color: #ffffff;
  background-color: #000000;
}

.console-inner .table td {
  border-top: none;
  padding: 0;
  line-height: 1.25;
}

.console-input {
  border: 1px solid #555;
  border-top-style: none;
  background-color: #000000;
}

.console-input label {
  position: absolute;
  padding: 0.45em 0.6em;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}

.console-input > input[class*="span"] {
  border: none;
  background-color: #000000;
  color: #ffffff;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 2em;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

/* Minecraft Colors                 MC Code   ANSI Code   Other Codes */
.black {
  color: #000000;
} /*       0          30               */
.dark_blue {
  color: #0000aa;
} /*       1          34               */
.dark_green {
  color: #00aa00;
} /*       2          32               */
.dark_aqua {
  color: #00aaaa;
} /*       3          36               */
.dark_red {
  color: #aa0000;
} /*       4          31               */
.dark_purple {
  color: #aa00aa;
} /*       5          35               */
.gold {
  color: #ffaa00;
} /*       6          33               */
.gray {
  color: #aaaaaa;
} /*       7          37               */
.dark_gray {
  color: #555555;
} /*       8          30   1 - intense */
.blue {
  color: #5555ff;
} /*       9          34   1 - intense */
.green {
  color: #55ff55;
} /*       a          32   1 - intense */
.aqua {
  color: #55ffff;
} /*       b          36   1 - intense */
.red {
  color: #ff5555;
} /*       c          31   1 - intense */
.light_purple {
  color: #ff55ff;
} /*       d          35   1 - intense */
.yellow {
  color: #ffff55;
} /*       e          33   1 - intense */
.white {
  color: #ffffff;
} /*       f          37   1 - intense */
